[mysqld]
user = rbalazs
datadir = /var/lib/mysql
port = 3306

# Permettre les connexions extérieures (WordPress doit se connecter)
bind-address = 0.0.0.0

# Charset conseillé pour WordPress
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

# Désactiver le skip-networking (sinon pas de connexion TCP)
skip-networking=0
